* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: white;
  align-items: center;
}

.MainDivcontent {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

.MainDivcontent>* {
  flex: 1 1 auto;
  padding: 30px;
}

header {
  background-color: hsl(36, 100%, 99%);
  width: 100%;
}

.headerContainer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem;
}

nav {
  width: 70%;
  cursor: pointer;
  gap: 0.5rem;
  align-items: center;
  overflow: hidden;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.active {
  height: 50px;
}

.active a {
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 14px;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  margin: 10px;
}

nav a:hover {
  background-color: #f0f0f0;
}

.imgLogo {
  max-height: 3rem;
  height: 30px;
  font-size: 11px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.activebar {
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  cursor: pointer;
  margin: 5px 5px;
  padding: 5px 5px;
}

.activebar a {
  text-decoration: none;
  color: black;
}

li a img {
  width: 40px;
  height: auto;
  font-size: 0.75em;
  padding: 10px;
}

.icon-menu {
  display: none;
}

.Maincontainer {
  padding: 1px 5px;
}

.firstimg {
  width: 100%;
  height: 40vh;
}

.mainsection {
  background-color: hsl(240, 100%, 5%);
  flex: 1 1 auto;
}

.flex-item-large {
  flex-basis: 50%;
}

.gridcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.downrowright {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.downrowleft {
  margin: 0;
  padding: 0;
}

.downrowleft p {
  font-size: 15px;
  font-family: specimen sans-serif;
  padding: 0;
  text-align: justify;
  line-height: 1.5;
}

.downrowleft button {
  width: 150px;
  height: 40px;
  margin: 8px 10px 0 0;
  text-transform: uppercase;
  background-color: hsl(5, 85%, 63%);
  text-decoration: none;
  color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.mainsection {
  display: flex;
  flex-wrap: wrap;
}

.rightdiv1,
.rightdiv2,
.rightdiv3 {
  flex: 1 1 auto;
  border-bottom: 2px solid white;
}

.rightdiv1 h1 {
  color: hsl(35, 77%, 62%);
  font-size: 2em;
  margin: 0;
  margin-bottom: 2px;
}

.rightdiv1 h2 {
  font-size: 1.5em;
  color: hsl(36, 100%, 99%);
  font-weight: 600;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-family: specimen sans-serif;
}

.rightdiv1 p {
  font-size: 1em;
  color: hsl(36, 100%, 99%);
  font-weight: 400;
  padding: 2px 0;
  margin: 2px 0;
  font-family: specimen sans-serif;
}

.rightdiv2 h2 {
  font-size: 1.5em;
  color: hsl(36, 100%, 99%);
  font-weight: 600;
  padding: 5px 0;
  margin: 5px 0;
  font-family: specimen sans-serif;
}

.rightdiv2 p {
  font-size: 1em;
  color: hsl(36, 100%, 99%);
  font-weight: 400;
  padding: 2px 0;
  margin: 2px 0;
  font-family: specimen sans-serif;
}

.rightdiv3 h2 {
  font-size: 1.5em;
  color: hsl(36, 100%, 99%);
  font-weight: 600;
  padding: 5px 0;
  margin: 5px 0;
  font-family: specimen sans-serif;
}

.rightdiv3 p {
  font-size: 1em;
  color: hsl(36, 100%, 99%);
  font-weight: 400;
  padding: 2px 0;
  margin: 2px 0;
  font-family: specimen sans-serif;
}

.flex-container {
  flex-basis: 100%;
}

.flex-container-newsletter {
  display: flex;
  gap: 10px;
}

.Number-1,
.Number-2,
.Number-3 {
  max-width: 500px;
  height: 20vh;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.Numer-1-img img,
.Number-2-img img,
.Number-3-img img {
  width: 100px;
  height: 18vh;
  margin-right: 10px;
}

.Number-1-details h1,
.Number-2-details h1,
.Number-3-details h1 {
  color: hsl(236, 13%, 42%);
  text-align: left;
  font-family: specimen sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.Number-1-details h2,
.Number-2-details h2,
.Number-3-details h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  font-family: specimen sans-serif;
  margin: 2px 0;
  padding: 2px 0;
}

.Number-1-details p,
.Number-2-details p,
.Number-3-details p {
  margin: 2px 0;
  padding: 2px 0;
  text-align: left;
  font-size: 10px;
  font-weight: 400;
}

footer {
  width: 100%;
}

.attribution {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-style: italic;
}

.attribution a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
}